<!-- HOME -->
<div class="home__container">

    <div class="hero__content">
        <h1>Bite by Bite Recipes</h1>
        <p>Explore, create, and enjoy other's recipe ideas including; easy desserts, great bakes and family-friendly
            delicious meals of all kinds.</p>

        <div class="hero__buttons">
            <a href="/explore-latest" class="explore__btn btn">Explore Latest</a>
            <a href="/explore-random" class="random__btn btn">Random Recipe</a>
        </div>
    </div>

    <div class="hero__image">
        <img src="/img/HERO-IMAGE-NEW.png" alt="" class="hero-image">
    </div>
</div>
<!-- END HOME -->

<!-- HOME/CATEGORIES -->
<div class="category__container">

    <% if (categories !='' ) { %>
        <% categories.forEach((category, index)=> { %>
            <a href="/categories/<%- category.name %>" class="category__link">
                <div class="category__image">
                    <img src="/img/<%- category.image %>" alt="<%- category.name %>" loading="lazy">
                </div>
                <h2>
                    <%- category.name %>
                </h2>
            </a>
            <% }) %>
                <% } %>

                    <a href="/categories" class="category__link">
                        <div class="category__image">
                            <img src="/img/view-all.jpg" alt="View All Categories" loading="lazy">
                        </div>
                        <h2>
                            View All
                        </h2>
                    </a>
</div>
<!-- END HOME/CATEGORIES -->


<!-- HOME/LATEST -->
<section class="latest__section">

    <div class="section__title">
        <h2 class="title">Latest Recipes</h2>
        <a href="/explore-latest">View More</a>
    </div>

    <div class="recipe__card__container">

        <% if (food !='' ) { %>
            <% food.latest.forEach((recipe, index)=> { %>

                <a href="/recipe/<%= recipe._id %>" class="category__link">
                    <div class="category__image category__image--large">
                        <img src="/uploads/<%= recipe.image %>" alt="<%= recipe.name %>" loading="lazy">
                    </div>
                    <h2>
                        <%= recipe.name %>
                    </h2>
                </a>
                <% }) %>
            <% } else { %>
            <p>No items found.</p>
        <% } %>

    </div>

</section>
<!-- END HOME/LATEST -->

<!-- HOME/THAI -->
<section class="latest__section">

    <div class="section__title">
        <h2 class="title">Thai Recipes</h2>
        <a href="/categories/Thai">View More</a>
    </div>

    <div class="recipe__card__container">

        <% if (typeof food.thai !=='undefined' && food.thai.length> 0) { %>
            <% food.thai.forEach((recipe, index)=> { %>

                <a href="/recipe/<%= recipe._id %>" class="category__link">
                    <div class="category__image category__image--large">
                        <img src="/uploads/<%= recipe.image %>" alt="<%= recipe.name %>" loading="lazy">
                    </div>
                    <h2>
                        <%= recipe.name %>
                    </h2>
                </a>
                <% }) %>
            <% } else { %>
                <p>No items found.</p>
            <% } %>

    </div>

</section>
<!-- END HOME/THAI -->

<!-- HOME/AMERICAN -->
<section class="latest__section">

    <div class="section__title">
        <h2 class="title">American Recipes</h2>
        <a href="/categories/American">View More</a>
    </div>

    <div class="recipe__card__container">

        <% if (typeof food.american !=='undefined' && food.american.length> 0) { %>
            <% food.american.forEach((recipe, index)=> { %>

                <a href="/recipe/<%= recipe._id %>" class="category__link">
                    <div class="category__image category__image--large">
                        <img src="/uploads/<%= recipe.image %>" alt="<%= recipe.name %>" loading="lazy">
                    </div>
                    <h2>
                        <%= recipe.name %>
                    </h2>
                </a>
                <% }) %>
        <% } else { %>
            <p>No items found.</p>
        <% } %>

    </div>

</section>
<!-- END HOME/AMERICAN -->

<!-- HOME/CHINESE -->
<section class="latest__section">

    <div class="section__title">
        <h2 class="title">Chinese Recipes</h2>
        <a href="/categories/Chinese">View More</a>
    </div>

    <div class="recipe__card__container">

        <% if (typeof food.chinese !=='undefined' && food.chinese.length> 0) { %>
            <% food.chinese.forEach((recipe, index)=> { %>

                <a href="/recipe/<%= recipe._id %>" class="category__link">
                    <div class="category__image category__image--large">
                        <img src="/uploads/<%= recipe.image %>" alt="<%= recipe.name %>" loading="lazy">
                    </div>
                    <h2>
                        <%= recipe.name %>
                    </h2>
                </a>
                <% }) %>
        <% } else { %>
            <p>No items found.</p>
        <% } %>

    </div>

</section>
<!-- END HOME/CHINESE -->


<!-- SUBMIT -->

<section class="submit__container">
    <img src="/img/publish-recipe.png" alt="Publish your recipe for FREE today" loading="lazy">
    <div class="section__content">
        <h1 class="submit__title title">Publish your recipe for FREE today</h1>
        <p>Publish your recipe for others to see.</p>

        <a href="/submit-recipe" class="btn recipe__submit__btn">Submit Recipe</a>
    </div>
</section>

<!-- END SUBMIT -->